* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  padding: 0 10px;
}

.btn {
  display: inline-block;
  border: none;
  background-color: rgb(124, 170, 209);
  color: black;
  padding: 7px 20px;
  cursor: pointer;
}